html,
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;
    padding: 0px;
}

button {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=text] {
    border-radius: 5px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50px;
    margin: 8px 0;
    box-sizing: border-box;
}

label {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
}

#status-bar {
    height: 48px;
    width: auto;
    background: #2db5ff;
    color: white;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 0;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    justify-content: space-between;
    padding: 0 12px;
    min-width: 100%;
    width: fit-content;
}

#status-title {
    margin: 20px;
    margin-bottom: 0px;
}

#option-bar,
#heat,
#graph,
#log,
#log_section {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 20px;
    margin-top: 0px;
    padding-top: 10px;
    width: auto;
    margin-bottom: 0px;
}

#pregraph {
    margin: 20px;
    margin-top: 0px;
    padding-top: 10px;
    width: auto;
    margin-bottom: 0px;
}

#view-bar {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 16px;
    padding-top: 10px;
    width: auto;
    display: none;
}

#log {
    border: none;
}

#option-bar button {
    background-color: #2db5ff;
}

#view-bar button {
    background-color: #ff9d2d;
}

#heat-bar {
    width: 500px;
    border-radius: 25px;
    height: 35px;
    margin-right: 15px;
    float: left;
    background-image: repeating-linear-gradient(to right, #2C95DD, #2C95DD, #F6D866, #ff7f36, #fc3770);
}

#heat input {
    margin-top: 0px;
}

#log_section {
    font-size: 12px;
}

[id^="row"]:after {
    content: "";
    display: table;
    clear: both;
}

[id^="pixel"] {
    width: 15px;
    height: 15px;
    background-color: #2C95DD;
    float: left;
    margin: 1px;
}
